@font-face{
    font-family: "Roboto";
    src: url(../font/Roboto-Light.ttf);
  }
  
  @font-face{
    font-family: "Poppins";
    src: url(../font/Poppins-Regular.otf);
  }

.main-div{
    background-color: #3c424a;
    text-align: center;
    width: 50%;
    margin: 0px auto 0 auto;
    color: #fff;
    border-radius: 10px;
}

.main-div .greetingMsg{
    text-align: left;
}

.main-div .child-div{
    padding: 30px 40px 40px 40px;
}

.main-div .child-div .heading{
    text-align: left;
    padding: 10px;
}

.main-div .child-div .addItems{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    display: flex;
}

.main-div .child-div .addItems .submitBtn{
    flex: 1;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all ease-in-out;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff !important;
    color: #343a40 !important;
}

.main-div .child-div .addItems .submitBtn:hover{
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff !important;
    background: transparent !important;
}

.main-div .child-div .addItems input{
    background-color: #343a40;
    outline: none;
    border: none;
    line-height: 10px;
    height: 40px;
    flex: 2;
    padding-left: 10px;
    color: #fff;
    position: relative;
}

.main-div .child-div .addItems i{
    position: absolute;
    right: 43%;
    top: 28%;
    opacity: 0.6;
}

.main-div .child-div .addItems input:focus{
    background-color: #343a40;
}

.main-div .child-div .addItems input::placeholder{
    color: #fff;
    opacity: 0.6;
    /* padding-left: 5px; */
    font-family: 'Poppins', sans-serif;
}

.main-div .child-div .showItems .eachItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 8px 0;
}

.main-div .child-div .showItems{
    padding: 30px 10px 10px 10px;
    width: 100%;
}

.main-div .child-div .showItems .eachItems div button{
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all ease-in-out;
    font-size: 18px;
    font-weight: 700;
    width: 105px;
}

.main-div .child-div .showItems .eachItems div{
    display: flex;
    justify-content: space-between;
    /* width: 30%; */
}

.main-div .child-div .showItems .eachItems h3{
    padding-left: 10px;
    font-weight: 400;
}

.main-div .child-div .showItems .eachItems div button:hover{
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}

.warning{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 35px 60px;
    border-radius: 5px;
    background: rgb(34,187,212);
    background: linear-gradient(207deg, rgba(34,187,212,1) 0%, rgba(32,201,151,1) 67%);
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    left: 39%;
    top: 2%;
    /* display: none; */
}

.warning .warningBtn{
    background-color: #fff !important;
    color: #343a40 !important;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all ease-in-out;
    font-size: 18px;
    font-weight: 700;
    border: none;
    width: 105px;
    border-radius: 5px;
}

.warning .warningBtn:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff !important;
    background: transparent !important;
}

.toggle{
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all ease-in-out;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    left: 39%;
    top: 2%;
    position: absolute;
}

.logoutMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.logoutMain h1{
    flex: 2;
    padding-left: 50px;
}

.logoutMain .logoutBtn{
    padding-right: 30px;
}

.logoutMain button{
    flex: 1 1;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s all ease-in-out;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff !important;
    color: #343a40 !important;
}